* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: lightsteelblue;
}

hr {
    border: 0;
    clear:both;
    display:block;
    width: 98%;               
    background-color: black;
    height: 2px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.container {
    float: left;
    min-height: 750px;
    width: 50%;
    font-family: -apple-ssystem, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border:2px solid black;
    border-bottom: none;
    padding:30px;
}
.row:after {
    content: "";
    display: table;
    clear: both;
}
form {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}
label,
    input[type="submit"] {
    margin-top: 20px;    }
    button {
    margin-top: 10px;
    }
select {
    max-width: 400px;
}

h1 span {
    display: block;
    text-align: center;
}

.material-icons {
    font-size: 50px;
    color: cornflowerblue;
}

h1, i {
    display:inline-block;
    vertical-align:middle;
}

img {
    margin-top: 5px;
    width: 40px;
    height: 40px;
}

.container2 {
    align-items: baseline;
}

.leave-space {
    display: inline-block;
}

span {
    font-size: 10px;
} 
